/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Jan, 2021, 12:23:54 PM
    Author     : Sritiman Adak
*/
body{
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}
#main-container{
    min-height: 100vh;
    min-width: 100%;
}
.footer-element{
    position: fixed;
    width: 100%;
    color: #fff;
    background-color: rgb(100,5,45);
    font-size: 11px;
    text-align: center;
    padding:10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.footer-element p{
    padding-top: 0.3%;
    padding-bottom: 0.1%;
    margin-bottom: 0px;
}
form h2{
    font-weight: bold;
}
.row-style{
    margin-top: 10px;
    margin-bottom: 80px;
}
@media(max-width: 400px){
    .row-style{
        margin-top: 17%;
    }
}
.nav-animate{
    font-weight: bold;
}